# SimpleCov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# Small working example
demo.rb

# For MacOS:
.DS_Store

# exclude everything in tmp
tmp/*
# except the metric_fu directory
!tmp/metric_fu/
# but exclude everything *in* the metric_fu directory
tmp/metric_fu/*
# except for the _data directory to track metrical outputs
!tmp/metric_fu/_data/
